*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #1e90ff;
    color: #fefefe;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(0, 57%, 37%);
}

.nav-left{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav{
    margin: 2rem 2rem 2rem 3.5rem;
    padding: 1rem auto;
}

.nav a{
    text-decoration: none;
    color: #fefefe;
}

.nav-right{
    font-size: inherit;
    margin: 2rem 5.5rem 2rem 3.5rem;
}

.nav-btn{
    border: 3px solid #ad7d7d;
    font-size: inherit;
    border-radius: 2px;
    color: #fefefe;
    background-color: #ad7d7d;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
    align-content: center;
}

.hero-left{
    align-items: center;
    margin-left: 3%;
}

.hero-form{
    margin-right: 6%;
    border: 5px solid rgb(216, 203, 203);
    border-radius: 8%;
}

.hero-form h3{
    padding: 2px;
    margin: 5px 0 5px 5px;
}

.form-btn{
    padding: 10px;
    margin: 10px;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 20px;
    align-items: center;
}

.apartment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
    padding: auto auto;
}

.features{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 25px;
}

.features h2{
    text-align: center;
    text-anchor: middle;
}

.plenty{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 30px;
}
.spectacular{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 40px;
}